@import "tailwindcss/base";

@import url("https://use.typekit.net/lln4snf.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Chicle&display=swap');

@import "tailwindcss/components";

.btn {
  @apply inline-block px-5 py-3 rounded-lg uppercase tracking-wider font-semibold;
}
.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-indigo {
  @apply bg-indigo-500 text-white;
}
.btn-indigo:hover {
  @apply bg-indigo-400;
}
.btn-indigo:active {
  @apply bg-indigo-600;
}

.btn-gray {
  @apply bg-gray-400 text-gray-800;
}
.btn-gray:hover {
  @apply bg-gray-300;
}
.btn-gray:active {
  @apply bg-gray-500;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}


// @screen sm {
//   .btn {
//     @apply text-base;
//   }
// }



$main-color: #1e91b4;

#primary{
  // position:absolute;
  // top:0;
  // margin:auto;
  // text-align:center;
  // display:flex;
  // align-items:center;
  // justify-content:center;
  // height:100%;
  li{
    // margin:0 20px;
    // position:relative;
    a{
      text-decoration:none;
      display:block;
      padding:5px 0;
      font-family:'Open Sans';
      font-size:20px;
      line-height:1;
      font-weight:200;
      position:relative;
      z-index:1;
      // text-align: center;
      // margin-left: 10px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(
          to right,
          $main-color,
          $main-color 50%,
          #fff 50%);
      background-size: 200% 100%;
      background-position: -100%;
      transition: all 0.3s ease-in-out;
      &:before{
        display:block;
        content:'';
        width:0;
        height:3px;
        bottom:5px;
        left:0;
        bottom:-3px;
        z-index:0;
        position:absolute;
        background:$main-color;
        transition: all 0.3s ease-in-out;
      }
      &:hover{
        background-position: 0%;
        &:before{
          width:100%;
        }
      }
    }
  }
}

.background-trans {
  background-color: rgba(255,255,255,.5);
}

.active {
    border-bottom:3px #FFF solid;
    }

.zoom {
  padding: 2px;
  // background-color: green;
  transition: transform .3s; /* Animation */
  width: 200px;
  // height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: rgb(31, 187, 192);
}


@import "tailwindcss/utilities";
